body {
    background-color: #eee;
}

.container, .questionContainer {
    background-color: #fff;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#stickyTop {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-color: #fff;
    padding-bottom: 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: top;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
  }

#tab1, #tab2{
    opacity: 0;
    width: 0px;
    height: 0px;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
}

#tab1:checked ~ #tab1Label,
#tab2:checked ~ #tab2Label {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}
#tab1:checked ~ #tab1Label {
        margin-left: -5px;
}

#tab2:checked ~ #tab2Label {
    margin-right: -5px;
}
.tabLabel{
    margin: 0px;
    display: inline-block;
    width: 49%;
    text-align: center;
    border-bottom: 1px solid #abc; 
    margin: 0 0 -1px;
}

.controls {
    text-align: center;
    margin-bottom: 15px;
}

.option {
    margin: 18px;
}

.questionText, .optionText {
    margin: 5px;
    vertical-align: middle;
}

.questionText {
    margin-left: 0px;
}

.btnDeleteQuestion {
    margin: 5px;
    float: right;
}

.optionText {
    display: inline;
    width: 300px;
}

#editQuestions{
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}

#editQuestions > li:before{
    content: "Question " counter(elementcounter);
    counter-increment:elementcounter;
    /* font-weight: bold; */
}

ol {
    padding: 0px;
}

#btnCheck {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#txtWords {
    text-align: center;
    font-size: 1.5em;
}

#txtWords:focus {
    outline: none;
}

#txtScore {
    text-align: right;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

#controls {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: text-top;
    margin-left: 5px;
}

#wrongScore {
    color: #900;
}

#rightScore {
    color: #090;
}

.txtQuestionTitle {
    font-size: 2em;
}

#btnCheck {
    display: none;
}

.btnOption {
    border: solid 2px rgba(0, 0, 0, 0);
    background-color:#ddd;
    margin:1%;
    width: 48%;
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.1s ease;
}

.btnOption:hover {
    color: #fff;
    background-color: #007bff;
}

.correct {
    color: #fff;
    background-color: #090;
}

.incorrect{
    color: #fff;
    background-color: #900; 
}

.qCorrect {
    color: #090;
}

.qIncorrect{
    color: #900; 
}
.selected {
    border: solid 2px #900;
}

.error {
    border-color: #900;
}

.txtError, .txtOptionError {
    color: #900;
    display: none;
}

.txtOptionError {
    margin-left: 20%;
}